@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ANALIZER</h1>
    <br>

    <h3> Domnload application here: "dont forget to add application dowmload link"</h3>
    <br>
    <h4>ANALIZER is a system build for helping users to monitor thei computers in online mode.<br>
        This website will allow you to gain live and stored information about yours computers productivity. 
        Is includes : <b>Resources ussage, Runnig Processes, General information about computers.</b>
        </h4>
    <br>
    <img src="~/images/crying-cat.jpg" />
    <h5>DON'T forget this applicaton is still in developement.</h5>
</div>
